<div id="home-page">
  <div class="row">
    <div id="homepage-title" class="col-lg-12 text-center">
      <h1>Find knitting supplies in Hong Kong</h1>
      <a href="/knits">Tap to locate a shop</a>
    </div>
  </div>
</div>