<div id="home-page">
  <div class="row">
    <div id="homepage-title" class="col-lg-12 text-center">
      <h1>Find knitting supplies in Hong Kong</h1>
      <p>Tap to locate a shop</p>
    </div>
  </div>
</div>