<div class="container auth">
  <div id="big-form" class="well auth-box">
    <form id="edit-shop-form">
      <fieldset>
        <legend>Edit this knit shop</legend>

        <div class="form-group">
          <label class=" control-label" for="textinput">Shop name</label>
          <div class="">
            <input id="edit-shop-name" name="knit[name]" placeholder="Name" class="form-control input-md" type="text">
          </div>
        </div>

        <div class="form-group">
          <label class=" control-label" for="textinput">Shop address</label>
          <div class="">
            <input id="edit-shop-address" name="knit[address]" placeholder="Address" class="form-control input-md" type="text">
          </div>
        </div>

        <div class="form-group">
          <label class=" control-label" for="textinput">Shop phone number</label>
          <div class="">
            <input id="edit-shop-phone" name="knit[phone]" placeholder="Phone" class="form-control input-md" type="text">
          </div>
        </div>
        <div class="form-group">
          <label class=" control-label" for="textinput">Shop photo or image</label>
          <div class="">
            <input id="edit-shop-image" name="knit[image]" placeholder="Photo" class="form-control input-md" type="text">
          </div>
        </div>
        <div class="form-group">
          <label class=" control-label" for="textinput">Shop email</label>
          <div class="">
            <input id="edit-shop-email" name="knit[email]" placeholder="Email" class="form-control input-md" type="text">
          </div>
        </div>
        <div class="form-group">
          <label class=" control-label" for="textinput">Shop website</label>
          <div class="">
            <input id="edit-shop-website" name="knit[website]" placeholder="website" class="form-control input-md" type="text">
          </div>
        </div>
        <div class="form-group">
          <label class=" control-label" for="textinput">Opening hours</label>
          <div class="">
            <input id="edit-shop-hours" name="knit[hours]" placeholder="Opening hours" class="form-control input-md" type="text">
          </div>
        </div>
        <div class="form-group">
          <label class=" control-label" for="textarea">Special notes about the shop</label>
          <div class="">
            <textarea class="form-control" id="edit-shop-note" name="knit[note]" placeholder="text here"></textarea>
          </div>
        </div>
        <div class="form-group">
          <div class="">
            <button id="edit-shop-btn" type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>

<script src="/js/knits/edit.js"></script>