<div class="well">
  <h2>Update shop details</h2>
  <form id="edit-shop-form">
    <div class="form-group">
      <label for="name">name</label>
      <input type="text" class="form-control" id="edit-shop-name" name="knit[name]" placeholder="Shop name">
    </div>

    <div class="form-group">
      <label for="address">Address</label>
      <input type="text" class="form-control" id="edit-shop-address" name="knit[address]" placeholder="Shop address">
    </div>

    <div class="form-group">
      <label for="address">Phone</label>
      <input type="text" class="form-control" id="edit-shop-phone" name="knit[phone]" placeholder="Phone number">
    </div>

    <div class="form-group">
      <label for="image">Photo</label>
      <input type="text" class="form-control" id="edit-shop-image" name="knit[image]" placeholder="Shop image or photo">
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="edit-shop-email" name="knit[email]" placeholder="Email">
    </div>

    <div class="form-group">
      <label for="website">Website</label>
      <input type="website" class="form-control" id="edit-shop-website" name="knit[website]" placeholder="Website">
    </div>

    <div class="form-group">
      <label for="hours">Opening Hours</label>
      <input type="hours" class="form-control" id="edit-shop-hours" name="knit[hours]" placeholder="Opening Hours">
    </div>

    <div class="form-group">
      <label for="note">Special notes</label>
      <input type="note" class="form-control" id="edit-shop-note" name="knit[note]" placeholder="Special notes">
    </div>

    <button id="edit-shop-btn" type="submit" class="btn btn-default">Submit</button>
  </form>
</div>

<script src="/js/knits/edit.js"></script>