<body id="knit-index">
  <div class="container">
    <h1 class="page-header" align="right">Knit shop index</h1>
    <div id="shop-index"></div>
    <div>
      <a class="btn btn-success" href="/knits/new">Add a new Shop <span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
  </div>
</body>

<script src="/js/knits/index.js"></script>