<body id="knit-index">
  <div class="container">
    <div>
      <a id="add-shop-btn" class="btn btn-success" href="/knits/new">Add a new Shop <span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
    <div id="shop-index"></div>
  </div>
</body>

<script src="/js/knits/index.js"></script>