<div class="well"
  <form id="new-shop-form">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="shop-name" placeholder="Shop name">
    </div>

    <div class="form-group">
      <label for="address">Address</label>
      <input type="text" class="form-control" id="shop-address" placeholder="Shop address">
    </div>

    <div class="form-group">
      <label for="address">Phone</label>
      <input type="text" class="form-control" id="shop-phone" placeholder="Phone number">
    </div>

    <div class="form-group">
      <label for="image">Photo</label>
      <input type="text" class="form-control" id="shop-image" placeholder="Shop image or photo">
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="shop-email" placeholder="Email">
    </div>

    <div class="form-group">
      <label for="website">Website</label>
      <input type="website" class="form-control" id="shop-website" placeholder="Website">
    </div>

    <div class="form-group">
      <label for="hours">Opening Hours</label>
      <input type="hours" class="form-control" id="shop-hours" placeholder="Opening Hours">
    </div>

    <div class="form-group">
      <label for="note">Special notes</label>
      <input type="note" class="form-control" id="shop-note" placeholder="Special notes">
    </div>

    <button id="new-shop-btn" type="submit" class="btn btn-default">Submit</button>
  </form>
</div>

<script src="/js/knits/new.js"></script>