<div id="knit-show" class="container">
  <div id="shop-show"></div>
    <!-- <div class="row well">
      <div class="col-md-2">
        <img id="shop-photo" class="img-responsive" src="http://placehold.it/200x200" alt="">
      </div>
      <div class="col-md-10">
        <h2>Shop One<a class="btn btn-primary pull-right" href="#">Back</a></h2>
          <p><strong>Directions:</strong></p>
          <p><strong>Phone:</strong></p>
          <p><strong>Email:</strong></p>
          <p><strong>Website:</strong></p>
          <p><strong>Opening hours:</strong></p>
          <p><strong>Special notes:</strong></p>
      </div>
    </div>
    <hr> -->
</div>

  <script src="/js/knits/show.js"></script>