<div id="knit-show" class="container">
    <div class="row well">
      <div class="col-md-2">
        <a href="#">
          <img id="shop-photo" class="img-responsive" src="http://placehold.it/200x200" alt="">
        </a>
      </div>
      <div class="col-md-10">
        <h2>Shop One</h2><a href="#">Back<span></span></a>


        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</p>
        <a class="btn btn-primary" href="#">View Shop <span class="glyphicon glyphicon-chevron-right"></span></a>
      </div>
    </div>
    <hr>
    <div>
      <a class="btn btn-success" href="#">Edit Shop <span class="glyphicon glyphicon-chevron-right"></span></a>
       <a class="btn btn-success" href="#">Back <span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
  </div>

  <script src="/js/knits/show.js"></script>